.notification {
  height: 1rem;
  font-size: 0.875rem;
  color: red;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputWrapper label {
  display: flex;
  flex-direction: column;
}

.inputWrapper label span {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.inputWrapper input {
  padding: 0.875rem 0.875rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputError {
  background-color: #ffece2;
  border-color: red;
}
